html, body {
    margin: auto 0;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 1);
    overflow: scroll;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
.scroll-bar-off::-webkit-scrollbar {
  display: none;
}
/*NAV-BAR*/
nav {
	display: block;
	align-items: center;
	justify-content: center;
	height: 15vh;
	padding: 5px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	bottom: inherit;
	z-index: 9999;
}	
ul {
	display: grid;
	list-style: none;
	grid-template-columns: 7% 30% 30% 30%;
	height: 9vh;
	padding-left: 0px;
	margin: 5px 0px 5px 7px;

}
li {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.link-text {
    color: black;
	/*text-shadow:2px 2px black;*/
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	font-weight: 500px;
	cursor: pointer;
	margin: 0;
	padding: 5px;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	margin-top: 5px;
}
.icon-font {
	font-family: 'Big Shoulders Inline Text', cursive;
	font-size: 3rem;
	color: white;
	background: black;
	border-radius: 25px;
	text-decoration: none;
}
@media only screen and (max-width: 500px) {
.link-text {
	font-size: 1.2rem;
}
.icon-font {
	font-size: 2rem;
}
}
/*COVER*/
header {
	width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
    padding-top: 90px;
}
.parallax {
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 65px;
	margin: 0px 0px 70px 100px;
	padding-left: 15px;
	border-radius: 25px 0px 0px 25px;
	background: black;
	font-size: 3em;
	/*transition: all 1s ease;*/
	color: white;
}
.hvr-bounce-to-left {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-left:before {
	content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background: rgba(11, 132, 156, 0.6);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: white;
}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.sub-head {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0px 100px 50px 0px;
	padding-right: 20px;
	padding-left: 50px;
	height: 65px;
	border-radius: 0px 25px 25px 0px;
	background-color: black;
	color: white;
	font-size: 4em;
	transition: all 1s ease;
}
span {
	font-family: 'Big Shoulders Inline Text', cursive;
	font-size: 6rem;
	color: white;
}
.hvr-bounce-to-right {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
	background-color: rgba(11, 132, 156, 0.6);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-rightt:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media only screen and (max-width: 736px) {
	.name, .sub-head {
		font-size: 30px;
		background: black;
	}
	span {
		font-size: 5rem;
	}
}
@media only screen and (max-width: 403px) {
.sub-head {
	padding-left: 300px;
}	
.name {
	margin-left: 0px;
}
span {
	font-size: 4rem;
}
}
.scroll {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	margin-left: 12px;
	padding-top: 0px;
	cursor: default;
	color: black;
}
.fas {
	cursor: auto;
}
.animate__animated.animate__bounce {
	animation-iteration-count: 100;
}
/*BIO*/
.bio-container {
	height: 150vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(11, 132, 156, 0.6);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.image-icon {
	height: 250px;
	padding-top: 90px;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.image-icon img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 3px 4px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 3px 4px rgba(0, 0, 0, 0.4);  
}
.image-text {
	margin: 10px;
}
.image-icon i {
	color: white;
}
.bio-text-container {
	display: flex;
	margin: 0px 10px 10px 10px;
	color: black;
	padding: 10px 30px 10px 30px;
	text-align: center;
}
.bio-text {
	padding: 30px;
	line-height: 50px;
}
@media only screen and (max-width: 744px) {
	
	.bio-container {
		font-size: 1.2rem;
		padding: 10px;
	}
	.image-icon {
		margin-bottom: 0px;
	}
	.bio-text {
		padding: 20px;
		line-height: 30px;
	}
	.bio-text-container {
		padding: 5px;
		margin: 0;
	}
	
}
/*ABOUT*/
.about-section {
	height: 270vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -400px;
	background-color: rgba(11, 132, 156, 0.6);
	font-family: 'Montserrat', sans-serif;
	
 }
.background {
	z-index: 10;
	height: 100vh;
    background-size: cover;
    margin: 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8; 
}
.about-cards {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
	margin-top: 0px;
}	
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin-top: 40px;
}
.container-3, .container-4 {
	margin-bottom:120px;
}
.container i {
	font-size: 100px;
	padding: 0px;
	color: black;
}
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 0px 5px 0px 5px;
	border-radius: 4px;
	font-size: 25px;
	background-color: black;
	color: white;
	height: 45px;
}
.about-text {
	display: flex;
	grid-row: span 2;
	align-items: center;
	text-align: center;
	justify-content: center;
	line-height: 50px;
	font-size: 25px;
	/*background: rgba(0, 0, 0, 0.5);*/
	padding: 5px 0px 5px 5px;
	margin: 140px 0px 140px 25px;
	color: black;
}
@media only screen and (max-width: 959px) {
	.about-text {
		font-size: 1.5em;
	}	
	.container i {
	font-size: 80px;

	}
}
@media only screen and (max-width: 850px) {
	.about-cards {
		grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
	}
	.about-text {
		grid-column: span 2;
		font-size: 1.2rem;
		margin: 20px 20px 20px 20px;
	}
	.container {
		padding-top: 0px;
		margin-bottom: 60px;
	    margin-top: 0px;
	}
	.container-4, .container-3 {
		margin-bottom: 60px;
		margin-top: 0px;
		padding: 0px;
	}
}
@media only screen and (max-width: 550px) {
	.container i {
		font-size: 50px;
	}
	.card {
		font-size: 20px;
		height: 30px;
	}
	.about-text {
		line-height: 40px;
	}
}
/*PROGRAMMES*/
.about-text-3 {
	height: 20vh;
	display: flex;
	flex-direction: column;
	padding: 70px 20px 20px 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	justify-content: center;
	font-size: 5rem;
	flex-wrap: wrap;
	color: white;
}
.programme-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 50vh;
	font-size: 100px;
	margin-bottom: 20px;
	padding-top: 20px;
	color: black;
	cursor: auto;
}
.programme-icons-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	height: 25px;
	margin-top: -5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.programme-icons i {
	padding: 10px 20px 10px 20px;

}
.img-icons {
	height: 100px;
	width: 100px;
}
@media only screen and (max-width: 736px) {
	.programme-icons {
		font-size: 4em;
		
	}
}
/*MAIN-PROJECTS*/
main {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.proj-wrapper {
 background-image: url(../port-images/diego-ph-fIq0tET6llw-unsplash.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 width: 95%;
  border-radius: 25px;
  margin-top: -160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj-title {
font-size: 70px;
margin: 30px;
padding: 10px;
text-align: center;

}
.projects-container {
  height: 300px;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: 
}

.proj-card {
  height: 280px;
  width: 250px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
   margin-left: -50px; 
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.proj-card:not(:first-child) {
    margin-left: -50px;
}

.proj-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.proj-card:hover ~ .proj-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.vulpine {
	background-image: url(../port-images/vulpine-img.png);
	background-repeat: no-repeat;
    background-size: cover;

}
.within {
	background-image: url(../port-images/within-nut-img.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
@media only screen and (max-width: 1035px) {
	.proj-card {
  height: 250px;
  width: 200px;
}
}
@media only screen and (max-width: 736px) {
	.proj-card {
  height: 180px;
  width: 150px;
}
}

/*FOOTER*/
footer {
	height: 100vh;
	/*background-image: url(../port-images/jon-tyson-QL0FAxaq2z0-unsplash.jpg);*/
	background: :rgb(255, 255, 255, 1);
	background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 0;
}
.contact-section { 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	margin: 0;
}
#contact-area {
	width: 600px;
	margin-top: 25px;
	margin-right: 90px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
	border-radius: 4px;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	outline: none;
	border: 2px solid rgba(11, 132, 156, 0.6);
	border-radius: 4px;
}
.submit-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact-area input.submit-button {
	width: 200px;
	transition-duration: 0.4s;
	margin-left: 110px;
	
}
.submit-button:hover {
  background-color: rgba(11, 132, 156, 0.6);
  color: white;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}
.socials {
	display: block;
}
.socials ul {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
	margin: 5px;
}
.socials li {
	display: flex;
	justify-content: center;
	align-items: center;
}
.socials i {
	font-size: 3em;
	cursor: pointer;
	color: black;
}
.copyright {
	text-align: center;
	display: block;
	align-items: center;
}